{
  "parser":                        "babel-eslint",
  "extends":                       "standard",
  "env":                           {
    "browser":                     true,
    "node":                        true
  },
  "parserOptions":                 {
        "ecmaVersion":             6,
        "sourceType":              "module",
        "ecmaFeatures":            {
            "jsx":                 true
        }
    },
  "rules":                         {
    "indent":                      [2, 2],
    "semi":                        ["error", "always"],
    "no-console":                  "off",
    "no-alert":                    "off",
    "space-before-function-paren": "off",
    "no-useless-constructor":      "off",
    "eol-last":                    "off"
  }
}
